


.wrapper{
    background-color: #5d76e8;
    width: 100%;
    
    
}


.debug{
    border: 1px solid red;
}


.bg-{
    background-color: rgba(90, 79, 79, 0.581);
}


p {
    text-align: center;
    font-weight: 700;
    
}

.border{
    border: 1px solid grey;
}


.box{
    width: 90px;
    height: 90px;
    border-radius: 20px;
    background-color: white;

}

.innerbox{
    width: 100%;
    height: 100%;

}

.fbcont {
    width: 1000px;
    
}

.pu-txt{
    color: #eb2a92;
}


.bg-txt{
    background-color: #5d76e8;
}
.or-bg{
    background-color: #e65d19;
}
.pu-bg{
    background-color: #eb2a92;
}
.ye-bg{
    background-color: #e6c253;
}
.gr-bg{
    background-color: #5ae856;
}
